body {
  font-family: arial;
}
.todo-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-text {
  font-size: 30px;
  font-weight: bold;
}
.todo-input:focus {
  outline: none;
}
.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}
.todo-input:focus,
.js-due-date-input:focus {
  outline: none;
}
.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
.todo-input,
.due-date {
  padding: 10px;
  font-size: 15px;
  border: solid black 1px;
  border-radius: 5px;
}
.add-button {
  background-color: blue;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.add-button:hover {
  background-color: #2954cb;
}
.delete-button {
  background-color: darkred;
  color: white;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.delete-button:hover {
  background-color: #b91c1c;
}
